<div id = "bienvenido">
    <% if(session.length > 0){ %>
        <h1 style="color:blue;">Bienvenida: <%=session.usuario%></h1>
        <button class="btn btn-success mt-3 mb-5">Log out</button>
        <br>
    <%};%>
</div>